body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.container {
  display: flex;
}

.firstpart {
  flex: 1;
  height: 100vh;
  width: 20%;
}

.firstpart img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.secondpart {
  flex: 2;
  height: 100vh;
}

#gridcontainer {
  padding: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.item1 {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icongrid {
  display: flex;
}

.item1 a {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 40%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.item1 img {
  height: 50%;
  width: 50%;
}

.item1 p {
  font-size: 50px;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
}

.item2 img{
  height: 80%;
  width:80%;
}

.item3 {
  padding: 50px;
  grid-column: 3;
  grid-row: 1/3;
  border-left: 1px solid #ccc; /* Left border for larger screens */
}

.item3 h1{
  font-size: 50px;
}

.item3{
  font-size: 30px;
}

.item4 {
  margin: auto;
  font-size: 20px;
  grid-column: 2;
  grid-row: 2;
}

.item5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 3;
  grid-column: 1/3;
}

.checkmark-list {
  list-style-type: none;
  padding: 0;
}

.checkmark-list li {
  background-image: url('./Images/icons/2.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.item3 img {
  height: 20px;
  width: 50px;
}

.item5 img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.item5 a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 40%;
  text-decoration: none;
}
.item5 #call{
  background-color: orange;
}
.item5 #whatsapp{
  background-color: rgb(133, 237, 133);
}
.item5 #msg{
  background-color: rgb(111, 104, 104);
}

#communication {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: center;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .firstpart {
    width: 100%;
    height: 30vh;
  }

  #gridcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .item1 {
    height: auto;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  .item1 p{
    font-size: 5px;
  }
  .item2 {
    height: 100px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
  }
  .item3 {
    padding: 5px;
    height: auto;
    display: flex;
    grid-row: 2;
    grid-column: 1/3;
    justify-content: space-between;
    border: none;
    border-top: 1px solid gray;
  }

  .item3 h1{
    font-size: 30px;
  }

  .item3{
    font-size: 25px;
  }

  .item4 {
    grid-row: 3;
    grid-column: 1/3;
  }
  .item5 {
    grid-row: 4;
    grid-column: 1/3;
  }
  .item4 li{
    font-size: 25px;
  }

  .item1 a {
    height: 50px;
    width: 50px;
  }
  .item1 p{
    font-size: 30px;
  }

  .item1 img, .item2 img {
    height: 50%;
    width: 50%;
  }

  #communication {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
  }
}
